body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

h1{
color:#ff0000;
}

table{
margin:auto;
border-collapse:collapse;
width:90%;
}

th,td{
border:1px solid red;
padding:10px;
}

th{
background:#8b0000;
}

button{
background:red;
color:white;
border:none;
padding:8px 15px;
margin:2px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#ff4444;
}
