*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#111;
    color:#fff;
    padding:15px;
}

.container{
    max-width:900px;
    margin:auto;
}

h1{
    text-align:center;
    color:#ff3333;
    margin-bottom:5px;
}

.subtitle{
    text-align:center;
    color:#bbb;
    margin-bottom:20px;
}

button{
    width:100%;
    padding:12px;
    margin-bottom:10px;
    border:none;
    border-radius:8px;
    background:#c00000;
    color:#fff;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#ff3333;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#1d1d1d;
}

th{
    background:#8b0000;
    color:#fff;
    padding:10px;
}

td{
    padding:8px;
    border-bottom:1px solid #333;
    text-align:center;
}

input{
    width:100%;
    padding:6px;
    border:1px solid #555;
    border-radius:5px;
    background:#222;
    color:#fff;
    text-align:center;
}

tr:nth-child(even){
    background:#181818;
}

@media(max-width:700px){

    body{
        padding:8px;
    }

    table{
        font-size:12px;
    }

    th,td{
        padding:6px;
    }

    button{
        font-size:14px;
    }
}
